.footer{
    background-color: #222;
    color: white;
    padding: 3em;
    text-align: center;
}

.social_links{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.social_list li{
    margin-right: 2.4em;
}
.social_list li:hover{
    color: gold;
}

